#container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.tasks{
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tasks app-task{
  width: 90%;
}
